<html>
    <head></head>
    <body>
        <div class="card mb-3 card-primary card-outline step-group" id="step-3" tabindex="0" data-title="Pays"> 
            <div class="card-header"> 
                <h3 class="card-title">Pays - Formulaire test2 pdf</h3> 
                <div class="ms-auto"> 
                    <button class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#box-step-content-3" aria-expanded="false" aria-controls="box-step-content-3"> 
                        <i class="fas fa-minus-square" aria-hidden="true"></i> 
                    </button> 
                </div> 
            </div> 
            <div class="card-body bg-white collapse show" id="box-step-content-3"> 
                <div displaycontrol="3_0"> 
                    <div class="row"> 
                        <div class="col-sm-3"> 
                            <p class="text-right font-weight-bold"> Pays</p> 
                        </div> 
                        <div class="col-sm-9"> 
                            <p> USA</p> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div>
    </body>
</html>