<!doctype html>
<html>
    <head> 
        <title>Example</title> 
    </head> 
    <body> 
        <div id="form-response-summary" class="box-body"> 
            <form> 
                <p>
                     image debut Reponse : 
                    <img src="file:/home/norbert/Images/Linux_logo.jpg" alt="Smiley">
                    ;Linux_logo.jpg 
                </p> 
                <p> Pays Reponse : France </p> 
                <p> fin Reponse : fdsfds </p> 
            </form> 
        </div> 
        <div class="panel-footer"> 
        </div>  
    </body>
</html>